<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <link rel="icon" href="https://templates.pingendo.com/assets/Pingendo_favicon.ico">
  <title>Styleguide</title>
  <meta name="author" content="Pingendo">
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="neon.css" type="text/css">
</head>

<body>
  <div class="text-center text-md-right w-100 h-100" style="background-image: url(&quot;Photoshop-project-p.jpg&quot;), linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)); background-position: right bottom, left top; background-size: cover, 100%; background-repeat: repeat, repeat; background-attachment: fixed;">
    <div class="container">
      <div class="row text-center" style="	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));	background-position: top left;	background-size: 100%;	background-repeat: repeat;	border-style: 2;">
      </div>
      <div class="py-5 text-center text-md-right" style="	background-image: url(Photoshop-project-p.jpg);	background-position: right bottom;	background-size: cover;	background-repeat: repeat;	background-attachment: fixed;">
        <div class="container">
          <div class="row text-center" style="">
            <div class="text-right col-md-3" style=""><a class="btn border border-light mr-3 mt-2 mb-3 btn-danger" href="#"><i class="fa fa-fw fa-reply d-inline-block fa-2x"></i>بازگشت</a></div>
            <div class="shadow-lg border-right border-dark col-md-9 col-sm-8 col-12 pl-5 pr-5 pt-2 pb-1" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)); background-position: left top; background-size: 100%; background-repeat: repeat;">
              <div class="col-md-12 text-left "></div>
              <h1 class="mb-4">ورود به حساب</h1>
              <form>
                <div class="form-group"> <input type="email" class="form-control text-right shadow-lg" id="form9" placeholder="نام کاربری"> </div>
                <div class="form-group mb-3"> <input type="password" class="form-control text-right shadow-lg" id="form10" placeholder="کلمه عبور"> </div> <button type="submit" class="btn btn-block btn-info shadow-lg">ورود</button>
              </form><small class="form-text text-muted text-center">
                <a href="#"> ساخت حساب کاربری&nbsp;&nbsp;</a><a href="#">فراموشی کلمه عبور&nbsp;</a>
              </small>
              <div class="row mt-3">
                <div class="col-md-6"></div>
                <div class="col-md-6"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script src="http://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
      <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 20px;right:20px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:220px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo Free&nbsp;&nbsp;<img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16"></pingendo>
    </div>
  </div>
</body>

</html>