<div class="row">
{#    <div class="p-4 col-md-3">#}
{#        <a referrerpolicy="origin" target="_blank"#}
{#           href="https://trustseal.enamad.ir/?id=204999&amp;Code=ykxqK9gIp8bKNBJWcpPz" dideo-checked="true"><img#}
{#                referrerpolicy="origin"#}
{#                src="https://Trustseal.eNamad.ir/logo.aspx?id=204999&amp;Code=ykxqK9gIp8bKNBJWcpPz" alt=""#}
{#                style="cursor:pointer" id="ykxqK9gIp8bKNBJWcpPz">#}
{#            <img referrerpolicy="origin"#}
{#                 src="https://Trustseal.eNamad.ir/logo.aspx?id=204999&amp;Code=ykxqK9gIp8bKNBJWcpPz" alt=""#}
{#                 style="cursor:pointer" id="ykxqK9gIp8bKNBJWcpPz">#}
{#        </a>#}
{#        <img id="nbqenbqergvjoeukjzpeapfu" style="cursor:pointer"#}
{#             onclick="window.open('https://logo.samandehi.ir/Verify.aspx?id=223875&amp;p=uiwkuiwkxlaomcsijyoedshw&quot',toolbar=no, scrollbars=no, location=no, statusbar=no, menubar=no, resizable=0, width=450, height=630, top=30)"#}
{#             alt="logo-samandehi" src="https://logo.samandehi.ir/logo.aspx?id=223875&amp;p=odrfodrfqftiaqgwyndtujyn">#}
{#    </div>#}

    <div class="p-4 col-md-3">
        <h2 class="mb-4">Pingendo</h2>
        <p>A company for whatever you may need, from website prototyping to publishing</p>
    </div>
    <div class="p-4 col-md-3">
        <h2 class="mb-4">Mapsite</h2>
        <ul class="list-unstyled">
            <a href="#" class="light-text light">
                Home
            </a>
            <br>
            <a href="#" class="light-text light">
                About us
            </a>
            <br>
            <a href="#" class="light-text light">
                Our services
            </a>
            <br>
            <a href="#" class="light-text light">
                Stories
            </a>
        </ul>
    </div>
    <div class="p-4 col-md-3">
        <h2 class="mb-4">Contact</h2>
        <p>
            <a href="#" class="light-text light">
                +246 - 542 550 5462
                <i class="fa d-inline mr-3 text-muted fa-phone">

                </i>
            </a>
        </p>
        <p>
            <a href="#" class="light-text light">
                info@pingendo.com
                <i class="fa d-inline mr-3 text-muted fa-envelope-o">

                </i>
            </a>
        </p>
        <p>
            <a href="#" class="light-text light"> 365 Park Street, NY
                <i class="fa d-inline mr-3 fa-map-marker text-muted">

                </i>
            </a>
        </p>
    </div>
</div>
